<%- include("./partials/head") %>
    <main id="container">
        <h1>Home</h1>
        <a href="/user/create">Cadastro de usuário</a>
        <a href="/user/login">Login</a>
    </main>
<%- include('./partials/footer') %>