<header>

  <div class="container">

    <ul class="navbar">
      <li class="navbar-item">
        <a href="/user/login" class="navbar-brand">Login</a>
      </li>

      <li class="navbar-item">
        <a href="/user" class="navbar-brand">Usuários</a>
      </li>

      <li class="navbar-item">
        <a href="/user/create" class="navbar-brand">Cadastrar Usuário</a>
      </li>

      <li class="navbar-item">
        <a href="/product" class="navbar-brand">Produtos</a>
      </li>

      <li class="navbar-item">
        <a href="/product/create" class="navbar-brand">Adicionar produto</a>
      </li>
    </ul>


  </div>

</header>